body {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin: 0;
  font-family: 'Arvo', 'Crete Round', 'Ultra', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkcyan;
}

code {
  font-family: 'Courier New',
    monospace;
}

label, input {
  margin: 7px;
  padding: 1px;
}

.refresh {
  text-align: right;
  margin-right: 600px;
}

.banner {
  background-color: rgb(181, 233, 233);
  text-align: center;
  color:darkcyan;
  margin: 50px;
  padding: 20px;
}

div.main {
  margin-left: 25px;
  margin-right: 25px;
  padding: 20px;
}

td {
  min-width: 150px;
  margin: 5px;
  padding: 5px;
}

.button {
  background-color: darkcyan; /* Green */
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Crete Round";
  margin: 5px;
}

